@mixin cta-button {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
    color: #fff;
    padding: calc(13px + (23 - 13) * ((100vw - 320px) / (1920 - 320))) calc(26px + (36 - 26) * ((100vw - 320px) / (1920 - 320)));
    border-radius: 30px;
    background-color: #7cc576;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    letter-spacing: -0.37px;
    text-align: center;
    text-transform: uppercase;
}

@mixin p-style ($fc, $ls) {
    font-family: $font-description;
    color: $fc;
    font-weight: 400;
    letter-spacing: $ls;
}

@mixin h2 ($color) {
    padding: 0 30px 17px;
    font-size: $f-l;
    font-weight: 700;
    color: $color;
    text-transform: uppercase;
    letter-spacing: -2px;
}

@mixin h3 ($color) {
    color: $color;
    font-size: $f-s;
    padding: calc(20px + (37 - 20) * ((100vw - 320px) / (1920 - 320))) 0 5px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.45px;
}

@mixin rem-height ($number) {
    height: $number / 16;
}

@mixin rem-width ($number) {
    width: $number / 16;
}